@font-face {
    font-family: 'RedDead';
    src: url('../fonts/RDR\ Catalogue\ Bold\ Bold.ttf');
}

.index p, .texto-cima p, .contato p, .sobre p{
   font-size: 30px; 
}

.index li a, .texto-cima li a, .contato li a, .sobre li a{
    font-size: 30px;
}

.contato label{
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RedDead';
}

body {
    background-image: url(../img/fundo2.jpg);
    background-repeat: unset;
    background-size: cover;
    /* height: 100vh; */
}

.book-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
    margin-left: 13rem;
}

.capa{
    width: 500px;
}

.flipbook {
    width: 500px;
    height: 566px;
    /* border: 1px solid #ccc; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.flipbook .hard {
    /* background: white; */
    color: white;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipbook img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.flipbook small {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.flipbook {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6); /* Sombra ao redor do flipbook */
    border-radius: 5px;
}
button.carousel-control-next.botao, button.carousel-control-prev botao {
    height: 0;
    margin: auto;
}

.pagina {
    background-image: url(../img/texture.jpg);
    background-repeat: unset;
    background-size: cover;
}

.pistola, .pistola-semi, .pistola-lemat, .pistola-vulkanic, .litchfield, .lancaster, .evans, .repeat, .semi, .muni1, .muni2{
    padding: 20px;
}

button.carousel-control-prev.botoes {
    filter: invert(1);
}

.pagina img{
    width: 200px;
}

a.nav-link.text-white:hover{
    color: rgb(237, 204, 54) !important;
}



.mudar-tema{
        background: white !important;
        color: black !important;
        
}
.mudar-tema-img{
    filter: invert(1);
}