@font-face {
    font-family: 'SatyAlive';
    src: url('../fonts/fonts/stayalive.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SatyAlive';
}

body {
    background-image: url(../img/fundo.jpg);
    background-repeat: unset;
    background-size: cover;
    /* height: 100vh; */
}

.book-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
    margin-left: 13rem;
}

.flipbook {
    width: 500px;
    height: 566px;
    /* border: 1px solid #ccc; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.flipbook .hard {
    /* background: white; */
    color: white;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipbook img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.flipbook small {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.flipbook {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6); /* Sombra ao redor do flipbook */
    border-radius: 5px;
}
button.carousel-control-next, button.carousel-control-prev {
    height: 0;
    margin: auto;
}

.pagina {
    background-image: url(../img/texture.jpg);
    background-repeat: unset;
    background-size: cover;
}



